/* #demo {
    width: 500px;
} */

#results_main {
    height: 100vh;
    background: #f3f9fc;
  }
  
  #my_results_section {
    height: 40vh;
  }
  
  .home_container_spacing {
   margin-top: 3em;  
   /* border-radius: 1em; */
  }
  
  #my_results_header {
    background-color: #d9d9d9;
    padding: .5em 0;
    align-items: center;
    /* border-radius: 1em 1em 0 0; */
  }
  
  .button-success {
    background: #008000;
    /* background: rgb(28, 184, 65); this is a green */
  }

  .button-dislike {
    background: #FF0000;
    /* background: rgb(28, 184, 65); this is a green */
  }
  
  .button-small {
    font-size: 85%;
    border-radius: .25em;
  }
  
  /* #demo {
    width: 500px;
  } */
  
  img {
    height: 10em;
    width: 10em;
    display: inline-block;
    margin-left: .5em;
  }