form input, button, p {
  /* padding-top: .5em; */
  margin-top: 1em;
}

form h2 {
  margin-top: 1.3em;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.input {
  flex-grow: 1;
}

button {
  background-color: #006392;
  color: #fff;
}

.align_inputs {
  align-content: center;
  align-items: center;
}

.input_fields_width {
  /* flex-grow: 1; */
  /* display: block; */
  width: 100%;
}

form p {
  padding-bottom: 1em;
}