<!-- ***BEGIN MAIN INTRO SECTION*** -->
<div id="main_intro_section">
  <div id="main_intro_nav" class="nav_padding">
    <nav class="navbar navbar-expand-lg navbar-light">
      <h2 class="main_intro_logo">TRAV</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" pageScroll href="#sign_up"><p class="main_intro_link">Signup</p></a>
          <a class="nav-item nav-link active" routerLink="/login"><p class="main_intro_link">Login</p></a>
        </div>
      </div>
    </nav>
  </div>

  <div id="main_intro_text">
    <!-- <div class="row align-items-center"> -->
    <div class="container">
    <div class="row">
    <!-- <div class="col">
    </div> -->
    <div class="col">
      <h1 class="main_intro_slogan">Seek Adventure. Stay for <span class="main_intro_bold">Free.</span></h1>
    </div>
    <!-- <div class="col">
    </div> -->
    </div>
    </div>
    <!-- </div> -->
  </div>
  
  <div id="main_intro_footer">
    <footer class="d-flex align-items-end">
      <div class="col align-self-end">
        <a pageScroll href="#main_middle_section"><img src="/src/assets/images/arrow.png" alt="down-arrow-image"class="scroll_arrow_border"></a>
      </div>
    </footer>
  </div>
 
</div>
<!-- ***END MAIN INTRO SECTION*** -->

<!-- ***BEGIN MAIN MIDDLE SECTION*** -->
<div id="main_middle_section">
  <!-- <div class="row align-items-center"> -->
    <div class="container marketing align-items-center">
      <div class="row">
        <div class="col-4">
          <img class="rounded-circle" src="/src/assets/images/mainAddHomeImage.jpg" alt="add-home-image" width="150" height="145">
          <h2> Home</h2>
          <p>Add your home to your account showcasing details and images. Don't forget to provide a description! </p>
        </div>
        <div class="col-4">
          <img class="rounded-circle" src="/src/assets/images/mainAddHouseImage.svg" alt="add-home-image" width="150" height="150">
          <h2>Travel Request</h2>
          <p>Create a request with the dates you want to travel, and we'll take care of finding you homes that are available.</p>
        </div>
        <div class="col-4">
          <img class="rounded-circle" src="/src/assets/images/mainAddHouseImage.svg" alt="add-home-image" width="140" height="140">
          <h2>Matches</h2>
          <p>Review your matching travel requests and as soon as you connect with another traveler you'll be one step closer to your adventure.</p>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
<!-- ***END MAIN MIDDLE SECTION*** -->

<!-- ***BEGIN MAIN BOTTOM SECTION-SIGN UP COMPONENT*** -->
<app-signup></app-signup>
<!-- ***END MAIN BOTTOM SECTION-SIGN UP COMPONENT*** -->
