#main_intro_section {
  height: 100vh;
  width: 100vw;
  background-image: url(/src/assets/images/adventureballshaped.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* #main_intro_nav {
  height: 33vh;
} */

/* 
#main_intro_text {
  height: 34vh;
} */

/* 
#main_intro_footer {
  height: 33vh;
} */
/* 
.nav_padding {
  padding-top: .75em;
  padding-left: 1em;
  padding-right: 1em;
} */

.main_intro_logo {
  color: #fff;
  font-family: CircularStd;
  font-weight: bold;
}

.main_intro_link {
  color: #fff;
  font-family: CircularStd;
  font-weight: bold;
}

#intro_middle_section {
  height: 80vh;
}

.main_intro_slogan {
  color: #fff;
  font-family: CircularStd;
  font-size: 2.5em;
  padding-top:23vh;
}

.main_intro_bold {
  color: #000;
  font-family: CircularStd;
  font-weight: bold;
}

#intro_bottom_section {
  height: 10vh;
}
/* .scroll_arrow_border {
  object-fit: cover;
  border-radius:50%;
  width: 1.5em;
  height: 1.5em;
  border: .2em solid #fff;
  padding: .3em;
} */

#main_second_section {
  height: 100vh;
  /* background-color: #dfcfbf; */
  background-color: HSL(200, 55%, 97%);
}

.info_avatar {
  border-radius: 50%;
  height: 4em;
  width: 4em;
}

.main_info_graphic {
  padding-left: 1.5em;
  margin-top: 0.5em;
  /* height: 5em; */
}

.info_graphic_text {
  padding-left: 2em;
  margin-top: 1em;
}

.info_graphic_text p {
  padding-top: 0.5em;
}

#main_two_pane {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

#main_two_pane h2 {
  text-align: center;
  margin-top: 1.3em;
}

.main_pane {
  margin-top: 20vh;
}

#main_left_pane {
  background-color: #006392;
  color: #fff;
}

#main_left_pane h2 {
  text-align:center;
}

#main_right_pane {
  background-color: #fff;
  text-align: center;
  justify-content: center;
}

#main_right_pane h2 {
  margin-top: 1.3em;
}


.center_items {
  text-align: center;
}

.layout_items {
  padding-top: 1.3em;
}