<app-navbar></app-navbar>

<main class="dashboard">
  <div class="dashboard__container">
    <div class="sidebar">
      <h3 class="sidebar__header">Create Travel Request</h3>
      <!-- <p class="sidebar__text">Pick what works best for you and let TRAV doing the searching.</p> -->
      <app-add-travel></app-add-travel>
      <!-- <button class="" routerLink="/add-travel"> Add Request</button> -->
    </div>

    <header class="header">
      <h1 class="header__main">Dashboard</h1>
      <p class="header__text">Manage your travel requests, matches and connections.</p>
    </header>

    <section class="data">
      <div class="data__requests">
        <div class="data__number" *ngIf="travels.length > 0">{{travels.length}}</div>
        <div class="data__number" *ngIf="travels.length == 0">{{travels.length}}</div>
        <h4 class="data__header">Travel Requests</h4>
      </div>

      <div class="data__connections">
        <div class="data__number" *ngIf="connections.length > 0">{{connections.length}}</div>
        <div class="data__number" *ngIf="connections.length == 0">{{connections.length}}</div>
        <h4 class="data__header">Connections</h4>
      </div>

      <div *ngIf="homes.length == 0">
        <div class="data__home">
          <button class="date__home-btn" routerLink="/add-home">Add home</button>
        </div>
      </div>
    </section>

    <header class="travel-header">
      <h2 class="travel-header__main">Travel Requests</h2>
    </header>

    <section class="travel-results">
      <div *ngIf="travels.length == 0">
        <p class="travel-results__no-info">Take the first step on your adventure and create a travel request!</p>
      </div>
      <!-- Travel Results -->
      <div *ngFor="let travel of travels" class="travel-results__card">

        <h4 class="travel-results__date">{{ travel.beginDate | date }} &mdash; {{ travel.endDate | date }}</h4>

        <div class="travel-results__delete">
          <button class="travel-results__delete-btn" (click)="deleteTravel(travel._id)">Delete</button>
        </div>

        <div class="travel-results__info">
          <h5 class="travel-results__info-header">Type</h5>
          <p class="travel-results__info-text">{{travel.home}}</p>
        </div>

        <div class="travel-results__info">
          <h5 class="travel-results__info-header">Setting</h5>
          <p class="travel-results__info-text">{{travel.setting}}</p>
        </div>

        <div class="travel-results__info">
          <h5 class="travel-results__info-header">Landscape</h5>
          <p class="travel-results__info-text">{{travel.landscape}}</p>
        </div>

        <!-- <a [routerLink]="['../edit-travel', travel._id]">Edit</a> -->
        <div class="travel-results__review">
          <a class="travel-results__review-link" [routerLink]="['../results', travel._id]">View Matches &gt;</a>
        </div>
      </div>
    </section>

    <header class="connections-header">
      <h2 class="connections-header__main">Connections</h2>
    </header>

    <section class="connections-results">
      <div *ngIf="connections.length == 0">
        <p class="connections-results__no-info">Keep reviewing your matches and like away!</p>
      </div>

      <div *ngFor="let connection of connections">
        <div *ngIf="connection.active == true ">
          <div *ngIf="connection.userRequest1.user === userId" class="connections-results__card">
            <h4 class="connections-results__date">
              {{connection.userRequest1.beginDate | date }} &mdash; {{connection.userRequest1.endDate | date }}
            </h4>
            <p class="connections-results__text">You connected with {{connection.user2.firstName}}!</p>
            <div class="connections-results__info">
              <a class="connections-results__info-link" [routerLink]="['/matches', connection.userRequest2._id, connection._id]">View
                more info &gt;</a>
            </div>
          </div>

          <div *ngIf="connection.userRequest2.user === userId" class="connections-results__card">
            <h4 class="connections-results__date">
              {{connection.userRequest2.beginDate | date }} &mdash; {{connection.userRequest2.endDate | date }}
            </h4>
            <p class="connections-results__text">You connected with {{connection.user1.firstName}}!</p>
            <div class="connections-results__info">
              <a class="connections-results__info-link" [routerLink]="['/matches', connection.userRequest1._id, connection._id]">
                View more info &gt;</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</main>