<app-navbar></app-navbar>

<!-- <button class="" routerLink="/add-home"></button> -->

<main class="dashboard">
  <div class="dashboard__container">
    <div class="sidebar">
      <h3 class="sidebar__header">Create Travel Request</h3>
      <!-- <p class="sidebar__text">Pick what works best for you and let TRAV doing the searching.</p> -->
      <app-add-travel></app-add-travel>
      <!-- <button class="" routerLink="/add-travel"> Add Request</button> -->
    </div>

    <header class="header">
      <h1 class="header__main">Dashboard</h1>
      <p class="header__text">Manage your travel requests, matches and connections.</p>
    </header>

    <section class="data">
      Data
    </section>

    <header class="travel-header">
      <h2 class="travel-header__main">Travel Requests</h2>
    </header>

    <section class="travel-results">
      <!-- Travel Results -->
      <div *ngFor="let travel of travels" class="travel-results__card">

        <h4 class="travel-results__date">{{ travel.beginDate | date }} &mdash; {{ travel.endDate | date }}</h4>

        <div class="travel-results__delete">
          <button class="travel-results__delete-btn" (click)="deleteTravel(travel._id)">Delete</button>
        </div>

        <div class="travel-results__info">
          <h5 class="travel-results__info-header">Type</h5>
          <p class="travel-results__info-text">{{travel.home}}</p>
        </div>

        <div class="travel-results__info">
          <h5 class="travel-results__info-header">Setting</h5>
          <p class="travel-results__info-text">{{travel.setting}}</p>
        </div>

        <div class="travel-results__info">
          <h5 class="travel-results__info-header">Landscape</h5>
          <p class="travel-results__info-text">{{travel.landscape}}</p>
        </div>

        <!-- <a [routerLink]="['../edit-travel', travel._id]">Edit</a> -->
        <div class="travel-results__review">
          <a class="travel-results__review-link" [routerLink]="['../results', travel._id]">View Results &gt;</a>
        </div>
      </div>
    </section>

    <header class="connections-header">
      <h2 class="connections-header__main">Connections</h2>
    </header>

    <section class="connections-results">
      Connection Results
    </section>

  </div>
</main>

<!-- 
my home info
<div *ngFor="let home of homes">
  <div *ngFor="let image of home.images">
    <span><img [src]="image.url" /></span>
  </div>
  <p> {{ home.address.street }} </p>
  <p> {{ home.address.city}} </p>
  <p>{{ home.address.state}} </p>
  <p> {{ home.address.zipCode}} </p>
  <p> {{ home.address.country}} </p>
</div>



travel requests info

<div *ngIf="homes.length > 0">
  <div id="my_request_section">


    <h3>My Travel Requests</h3>

    <button class="" routerLink="/add-travel"> </button>

    <div *ngFor="let travel of travels">

      <p>Start Date: {{ travel.beginDate | date }} End Date: {{ travel.endDate | date }}</p>

      <div class="pure-u-1-3 grow_flex"><a [routerLink]="['../edit-travel', travel._id]">Edit</a></div>
      <div class="pure-u-1-3 grow_flex"> <a [routerLink]="['../results', travel._id]">Results</a></div>
      <div class="pure-u-1-3 grow_flex"> <button (click)="deleteTravel(travel._id)">Delete</button></div>

      <p>Start Date: {{ travel.beginDate | date }} End Date: {{ travel.endDate | date }}
        <a [routerLink]="['../edit-travel', travel._id]">Edit</a>
        <a [routerLink]="['../results', travel._id]">Results</a>
        <button (click)="deleteTravel(travel._id)">Delete</button>
      </p>
    </div>
  </div>
</div>

<div *ngIf="connections.length > 0">
  <h3>My Connections</h3>

  <button class="" routerLink="/add-travel"></button>

  <div *ngFor="let connection of connections">
    <div *ngIf="connection.active == true ">
      <div *ngIf="connection.userRequest1.user === userId ">
        <a [routerLink]="['/matches', connection.userRequest2._id, connection._id]">Start Date:
          {{connection.userRequest1.beginDate
          | date }}
          End Date: {{connection.userRequest1.endDate | date }}</a>
      </div>
      <div *ngIf="connection.userRequest2.user === userId ">
        <a [routerLink]="['/matches', connection.userRequest1._id, connection._id]">Start Date:
          {{connection.userRequest2.beginDate
          | date }}
          End Date: {{connection.userRequest2.endDate | date }}</a>
      </div>
    </div>
  </div>
</div> -->



<!-- BEGIN CONNECTIONS SECTION -->
<!-- <div *ngIf="connections.length > 0">
  <h3>My Matches</h3>
  <div class="matches-container">
    <div *ngFor="let connection of connections">
      <div *ngIf="connection.active == true ">
        <div *ngIf="connection.userRequest1.user === userId ">
          <a [routerLink]="['../matches', connection.userRequest2._id, connection._id]">Start Date:
            {{connection.userRequest1.beginDate
            | date }}
            End Date: {{connection.userRequest1.endDate | date }}</a>
        </div>
        <div *ngIf="connection.userRequest2.user === userId ">
          <a [routerLink]="['../matches', connection.userRequest1._id, connection._id]">Start Date:
            {{connection.userRequest2.beginDate
            | date }}
            End Date: {{connection.userRequest2.endDate | date }}</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- END CONNECTIONS SECTION -->

<!-- EDWARD's original code -->
<!-- <h3>My Home</h3> -->
<!-- <div class="main_container">
    <div *ngFor="let home of homes">
      <div *ngFor="let image of home.images">
        <img [src]="image.url" />
      </div>
      <p> {{ home.address.street }} </p>
      <p> {{ home.address.city}} </p>
      <p>{{ home.address.state}} </p>
      <p> {{ home.address.zipCode}} </p>
      <p> {{ home.address.country}} </p> -->
<!-- <a [routerLink]="['home']"> View Details </a> -->
<!-- <a [routerLink]="['edit-home', home._id]">Edit</a>
    </div> -->
<!-- <button class="button-success pure-button" routerLink="/add-home">
      <i class="fas fa-plus-circle"></i>
      Add Home
    </button> -->
<!-- <button class="add_home_button" routerLink="/add-home"><img src="/src/assets/images/addcircleoutline.svg"></button> -->
<!-- </div> -->



<!-- 
<div *ngIf="connections.length > 0">
  <h3>My Matches</h3>
  <div class="matches-container">
    <div *ngFor="let connection of connections">
      <div *ngIf="connection.active == true ">
        <div *ngIf="connection.userRequest1.user === userId ">
          <a [routerLink]="['../matches', connection.userRequest2._id, connection._id]">Start Date:
            {{connection.userRequest1.beginDate
            | date }}
            End Date: {{connection.userRequest1.endDate | date }}</a>
        </div>
        <div *ngIf="connection.userRequest2.user === userId ">
          <a [routerLink]="['../matches', connection.userRequest1._id, connection._id]">Start Date:
            {{connection.userRequest2.beginDate
            | date }}
            End Date: {{connection.userRequest2.endDate | date }}</a>
        </div>
      </div>
    </div>
  </div>
</div> -->