/* .add_home_button {
background-color: green;
border-radius: 10px;
} */

#dashboard_main {
  height: 100vh;
  background: #f3f9fc;
}

#my_home_section {
  height: 40vh;
}

.home_container_spacing {
 margin-top: 3em;  
 /* border-radius: 1em; */
}

#my_home_header {
  background-color: #d9d9d9;
  padding: .5em 0;
  align-items: center;
  /* border-radius: 1em 1em 0 0; */
}

.button-success {
  background: #006392;
  /* background: rgb(28, 184, 65); this is a green */
}

.button-dislike {
  background: #FF0000;
  /* background: rgb(28, 184, 65); this is a green */
}

.button-small {
  font-size: 85%;
  border-radius: .25em;
}

#demo {
  width: 500px;
}

img {
  height: 8em;
  width: 8em;
}

/* *****REQUESTS STYLING***** */

#my_request_section {
  height: 40vh;
}

#my_request_header {
  background-color: #d9d9d9;
  padding: .5em 0;
  align-items: center;
  /* border-radius: 1em 1em 0 0; */
}

.inline_flex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

.grow_flex {
  flex-grow: 1;
}

/* *****CONNECTIONS STYLING***** */
#my_connections_section {
  height: 40vh;
}

#my_connection_header {
  background-color: #d9d9d9;
  padding: .5em 0;
  align-items: center;
  /* border-radius: 1em 1em 0 0; */
}

